Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
s="abcd"

In [2]:
type(s)

str

In [3]:
l=[1,3,4,77,54,2]

In [4]:
type(l)

list

In [15]:
f=2.3

In [16]:
type(f)

float

In [21]:
t=(2,3,[4,7])

In [22]:
type(t)

tuple

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.

What will be the data type of the above given variable.

In [23]:
var1=''

In [24]:
type(var1)

str

In [25]:
var2='[DS,ML,Python]'

In [27]:
type(var2)

str

In [28]:
var3=['DS','ML','Python']

In [29]:
type(var3)

list

In [30]:
var4=1.

In [31]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [41]:
# (i) /   (it is use to divides left hand operand by right hand operand)

In [33]:
2/4

0.5

In [40]:
# (ii)  %    (it can divides left hand operand by right hand operand and returns remainder

In [35]:
5%2

1

In [39]:
#(iii)   //   (it is ude for Floor Division)

In [38]:
9//2

4

In [44]:
#(iv)   **    (it is use to Performs exponential)

In [43]:
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [61]:
l=["i",4,"am",3,"good",66,"boy",8,[1,3],1.0]

In [57]:
for i in l:
    print(i)

i
4
am
3
good
66
boy
8
9
10

In [62]:
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'list'>
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [13]:
A = int(input("enter a value of A:"))
B = int(input("enter a value of B:"))
while A%B == 0 :
    print('A is purely divisible by B , for',A/B,'number of times')
    break
else:
    print('A is not purely divisible by B')

enter a value of A: 4
enter a value of B: 2

A is purely divisible by B , for 2.0 number of times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [18]:
l=[2,4,5,33,6,7,67,23,43,56,9,20,32,46,89,80,90,76,87,98,32,11,33,44,31]

In [28]:
for i in l:
    if (i%3==0):
        print(i,"i  is divisible by 3")
    else:
        print(i,"i  is not divisible by 3")

2 i  is not divisible by 3
4 i  is not divisible by 3
5 i  is not divisible by 3
33 i  is divisible by 3
6 i  is divisible by 3
7 i  is not divisible by 3
67 i  is not divisible by 3
23 i  is not divisible by 3
43 i  is not divisible by 3
56 i  is not divisible by 3
9 i  is divisible by 3
20 i  is not divisible by 3
32 i  is not divisible by 3
46 i  is not divisible by 3
89 i  is not divisible by 3
80 i  is not divisible by 3
90 i  is divisible by 3
76 i  is not divisible by 3
87 i  is divisible by 3
98 i  is not divisible by 3
32 i  is not divisible by 3
11 i  is not divisible by 3
33 i  is divisible by 3
44 i  is not divisible by 3
31 i  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property

In [29]:
# MUTABLE  :- Mutable objects are those that allow you to change their value or data in place without affecting the object's identity

In [30]:
L=[2,4,57,4,7,8]

In [31]:
type(L)

list

In [34]:
L[2]

57

In [35]:
L[2]=45

In [36]:
L[2]

45

In [37]:
#hence  LIST is mutable

In [38]:
# IMMUTABLE  :-immutable objects don't allow you to change their value or data in place.

In [39]:
S="ansh"

In [40]:
type(S)

str

In [41]:
S[2]

's'

In [42]:
S[2]=r

NameError: name 'r' is not defined

In [ ]:
#hence STRING is immutable